.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 35px;
}

.controls {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  align-content: center;
}

.controls.with-remove {
  grid-template-columns: 1fr 70px;
}

.button {
  text-align: center;
  padding: 15.5px 27.5px;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.default {
  font-size: 35px;
  font-weight: 500;
}

.button-remove {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-dark);
}

@keyframes spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(390deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

.loading svg {
  animation: spin 1.5s ease-in-out infinite;
}

.ready {
  background-color: var(--color-light-secondary);
}

.error {
  color: var(--color-white);
  background-color: var(--color-error);
}

.label-error {
  color: var(--color-error);
}

.label {
  text-align: center;
}
