.root {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-lg);
    font-size: 30px;
    line-height: 100%;
}

.root.failed .failed-col {
    color: var(--color-dark-primary);
}

.root.success .success-col {
    color: var(--color-dark-primary);
}