.root {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding: 26px 30px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-lg);
  font-size: 30px;
  line-height: 100%;
}

.success-col,
.failed-col {
  display: flex;
  gap: 5px;
  align-items: center;
}

.root.failed .success-col,
.root.success .failed-col,
.root.failed .success-col path,
.root.success .failed-col path {
  color: var(--color-dark-primary);
  fill: var(--color-dark-primary);
}

.root.failed .failed-col path,
.root.success .success-col path {
  fill: var(--color-dark);
}
